<!DOCTYPE html>
<html xmlns:AdHtml="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <include file="Main:commonJs"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/houtai/css/upload.css"/>
    <script src="__PUBLIC__/houtai/js/upload.js"></script>
    <script type="text/javascript" src="__PUBLIC__/ueditor/ueditor.config.js"></script>
    <!-- 编辑器源码文件 -->
    <script type="text/javascript" src="__PUBLIC__/ueditor/ueditor.all.js"></script>
    <script src="__PUBLIC__/ueditor/ueditor.parse.js"></script>
    <css file="__PUBLIC__/css/tags.css"/>

    <js file="__PUBLIC__/index/js/select2.js"/>
    <css file="__PUBLIC__/index/css/select2.css"/>
    <js file="__PUBLIC__/system/js/zixun.js"/>

    <style>
        #alertBox .BJGS {
            display: none;
        }

        #alertBox .TJZX {
            display: none;
        }

        .maxUl li .liRight .info {
            width: 100%;
        }
    </style>
</head>


<body>
<div class="PageBtn">
    <div class="BtnL ">
        <button class="Refresh Btn">刷新</button>
        <button name="TJZX" links="pname={$_GET['name']}" class="AlertIntoOpen Btn">添加</button>
        <button class="Btn AllDel">批量删除</button>
        <form action="{:U('Zixun/gongsi',$_GET)}">
            <div class="search">
                <input type="text" autocomplete="off" name="k" value="{$_GET['k']}" placeholder="请输入关键字">
                <input type="submit" class="searchNow" value="搜索">
            </div>
        </form>
    </div>
    <div class="clear"></div>
</div>

<div class="PageBox">
    <!--   默认部分  -->
    <div class="GS">
        <php>$empty=is_empty('没有相关资讯');</php>
        <notempty name="list">
            <table>
                <tr>

                    <th>Id</th>
                    <th>name</th>

                </tr>

                <volist name="list" id="v">
                    <tr>
                        <td style="text-align: left;"><a class="AlertIntoOpen" links="id={$v.id}"
                                                         name="BJGS">{$v.id}</a></td>
                        <td>
                            {$v.name}
                        </td>
                    </tr>
                    <notempty name="v.child">
                        <volist name="v.child" id="v2">
                            <tr>
                                <td style="text-align: left;"><a class="AlertIntoOpen" links="id={$v.id}" name="BJGS">{$v2.id}</a>
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp; {$v2.name}
                                </td>
                            </tr>
                            <php>$department_lists=department_lists($v2['id']);</php>
                            <notempty name="department_lists">
                                <volist name="department_lists" id="item">
                                    <tr>
                                        <td style="text-align: left;"><a class="AlertIntoOpen" links="id={$v.id}"
                                                                         name="BJGS">{$item.userid}</a></td>
                                        <td>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            {$item.name}
                                        </td>
                                    </tr>
                                </volist>
                            </notempty>
                            <notempty name="v2.child">
                                <volist name="v2.child" id="v3">
                                    <tr>
                                        <td style="text-align: left;"><a class="AlertIntoOpen" links="id={$v.id}"
                                                                         name="BJGS">{$v3.id}</a></td>
                                        <td>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            {$v3.name}
                                        </td>
                                    </tr>
                                    <php>$department_listss=department_lists($v3['id']);</php>


                                </volist>
                            </notempty>
                        </volist>
                    </notempty>

                </volist>

            </table>
            <else/>
            {$empty}
        </notempty>


        <div class="clear"></div>
    </div>

    <!--   弹出部分  -->
    <div id="alertBox">

        <!--   编辑资讯  开始  -->
        <div class="BJGS">

            <div class="orderBody">
                <iframe frameborder='no' name="{:U('Zixun/gongsi_edit')}?"></iframe>
            </div>
        </div>
        <!--   编辑资讯 结束 -->

        <!--   增加资讯 开始  -->
        <div class="TJZX">
            <div class="orderBody">
                <iframe frameborder='no' name="{:U('Zixun/gongsi_add')}?"></iframe>
            </div>

        </div>
        <!--   增加资讯 结束 -->

    </div>

</div>

<script>

</script>
</body>
</html>