.zyw_w1{ width:1px !important}.zyw_w2{ width:2px !important}.zyw_w3{ width:3px !important}.zyw_w4{ width:4px !important}.zyw_w5{ width:5px !important}
.zyw_w6{ width:6px !important}.zyw_w7{ width:7px !important}.zyw_w8{ width:8px !important}.zyw_w9{ width:9px !important}.zyw_w10{ width:10px !important}
.zyw_w11{ width:11px !important}.zyw_w12{ width:12px !important}.zyw_w13{ width:13px !important}.zyw_w14{ width:14px !important}.zyw_w15{ width:15px !important}
.zyw_w16{ width:16px !important}.zyw_w17{ width:17px !important}.zyw_w18{ width:18px !important}.zyw_w19{ width:19px !important}.zyw_w20{ width:20px !important}
.zyw_w21{ width:21px !important}.zyw_w22{ width:22px !important}.zyw_w23{ width:23px !important}.zyw_w24{ width:24px !important}.zyw_w25{ width:25px !important}
.zyw_w26{ width:26px !important}.zyw_w27{ width:27px !important}.zyw_w28{ width:28px !important}.zyw_w29{ width:29px !important}.zyw_w30{ width:30px !important}
.zyw_w31{ width:31px !important}.zyw_w32{ width:32px !important}.zyw_w33{ width:33px !important}.zyw_w34{ width:34px !important}.zyw_w35{ width:35px !important}
.zyw_w36{ width:36px !important}.zyw_w37{ width:37px !important}.zyw_w38{ width:38px !important}.zyw_w39{ width:39px !important}.zyw_w40{ width:40px !important}
.zyw_w41{ width:41px !important}.zyw_w42{ width:42px !important}.zyw_w43{ width:43px !important}.zyw_w44{ width:44px !important}.zyw_w45{ width:45px !important}
.zyw_w46{ width:46px !important}.zyw_w47{ width:47px !important}.zyw_w48{ width:48px !important}.zyw_w49{ width:49px !important}.zyw_w50{ width:50px !important}
.zyw_w51{ width:51px !important}.zyw_w52{ width:52px !important}.zyw_w53{ width:53px !important}.zyw_w54{ width:54px !important}.zyw_w55{ width:55px !important}
.zyw_w56{ width:56px !important}.zyw_w57{ width:57px !important}.zyw_w58{ width:58px !important}.zyw_w59{ width:59px !important}.zyw_w60{ width:60px !important}
.zyw_w61{ width:61px !important}.zyw_w62{ width:62px !important}.zyw_w63{ width:63px !important}.zyw_w64{ width:64px !important}.zyw_w65{ width:65px !important}
.zyw_w66{ width:66px !important}.zyw_w67{ width:67px !important}.zyw_w68{ width:68px !important}.zyw_w69{ width:69px !important}.zyw_w70{ width:70px !important}
.zyw_w71{ width:71px !important}.zyw_w72{ width:72px !important}.zyw_w73{ width:73px !important}.zyw_w74{ width:74px !important}.zyw_w75{ width:75px !important}
.zyw_w76{ width:76px !important}.zyw_w77{ width:77px !important}.zyw_w78{ width:78px !important}.zyw_w79{ width:79px !important}.zyw_w80{ width:80px !important}
.zyw_w81{ width:81px !important}.zyw_w82{ width:82px !important}.zyw_w83{ width:83px !important}.zyw_w84{ width:84px !important}.zyw_w85{ width:85px !important}
.zyw_w86{ width:86px !important}.zyw_w87{ width:87px !important}.zyw_w88{ width:88px !important}.zyw_w89{ width:89px !important}.zyw_w90{ width:90px !important}
.zyw_w91{ width:91px !important}.zyw_w92{ width:92px !important}.zyw_w93{ width:93px !important}.zyw_w94{ width:94px !important}.zyw_w95{ width:95px !important}
.zyw_w96{ width:96px !important}.zyw_w97{ width:97px !important}.zyw_w98{ width:98px !important}.zyw_w99{ width:99px !important}.zyw_w100{ width:100px !important}
.zyw_w101{ width:101px !important}.zyw_w102{ width:102px !important}.zyw_w103{ width:103px !important}.zyw_w104{ width:104px !important}.zyw_w105{ width:105px !important}
.zyw_w106{ width:106px !important}.zyw_w107{ width:107px !important}.zyw_w108{ width:108px !important}.zyw_w109{ width:109px !important}.zyw_w110{ width:110px !important}
.zyw_w111{ width:111px !important}.zyw_w112{ width:112px !important}.zyw_w113{ width:113px !important}.zyw_w114{ width:114px !important}.zyw_w115{ width:115px !important}
.zyw_w116{ width:116px !important}.zyw_w117{ width:117px !important}.zyw_w118{ width:118px !important}.zyw_w119{ width:119px !important}.zyw_w120{ width:120px !important}
.zyw_w121{ width:121px !important}.zyw_w122{ width:122px !important}.zyw_w123{ width:123px !important}.zyw_w124{ width:124px !important}.zyw_w125{ width:125px !important}
.zyw_w126{ width:126px !important}.zyw_w127{ width:127px !important}.zyw_w128{ width:128px !important}.zyw_w129{ width:129px !important}.zyw_w130{ width:130px !important}
.zyw_w131{ width:131px !important}.zyw_w132{ width:132px !important}.zyw_w133{ width:133px !important}.zyw_w134{ width:134px !important}.zyw_w135{ width:135px !important}
.zyw_w136{ width:136px !important}.zyw_w137{ width:137px !important}.zyw_w138{ width:138px !important}.zyw_w139{ width:139px !important}.zyw_w140{ width:140px !important}
.zyw_w141{ width:141px !important}.zyw_w142{ width:142px !important}.zyw_w143{ width:143px !important}.zyw_w144{ width:144px !important}.zyw_w145{ width:145px !important}
.zyw_w146{ width:146px !important}.zyw_w147{ width:147px !important}.zyw_w148{ width:148px !important}.zyw_w149{ width:149px !important}.zyw_w150{ width:150px !important}
.zyw_w151{ width:151px !important}.zyw_w152{ width:152px !important}.zyw_w153{ width:153px !important}.zyw_w154{ width:154px !important}.zyw_w155{ width:155px !important}
.zyw_w156{ width:156px !important}.zyw_w157{ width:157px !important}.zyw_w158{ width:158px !important}.zyw_w159{ width:159px !important}.zyw_w160{ width:160px !important}
.zyw_w161{ width:161px !important}.zyw_w162{ width:162px !important}.zyw_w163{ width:163px !important}.zyw_w164{ width:164px !important}.zyw_w165{ width:165px !important}
.zyw_w166{ width:166px !important}.zyw_w167{ width:167px !important}.zyw_w168{ width:168px !important}.zyw_w169{ width:169px !important}.zyw_w170{ width:170px !important}
.zyw_w171{ width:171px !important}.zyw_w172{ width:172px !important}.zyw_w173{ width:173px !important}.zyw_w174{ width:174px !important}.zyw_w175{ width:175px !important}
.zyw_w176{ width:176px !important}.zyw_w177{ width:177px !important}.zyw_w178{ width:178px !important}.zyw_w179{ width:179px !important}.zyw_w180{ width:180px !important}
.zyw_w181{ width:181px !important}.zyw_w182{ width:182px !important}.zyw_w183{ width:183px !important}.zyw_w184{ width:184px !important}.zyw_w185{ width:185px !important}
.zyw_w186{ width:186px !important}.zyw_w187{ width:187px !important}.zyw_w188{ width:188px !important}.zyw_w189{ width:189px !important}.zyw_w190{ width:190px !important}
.zyw_w191{ width:191px !important}.zyw_w192{ width:192px !important}.zyw_w193{ width:193px !important}.zyw_w194{ width:194px !important}.zyw_w195{ width:195px !important}
.zyw_w196{ width:196px !important}.zyw_w197{ width:197px !important}.zyw_w198{ width:198px !important}.zyw_w199{ width:199px !important}.zyw_w200{ width:200px !important}
/*   单列表  */

.zyw{  width: 100%; }
.zyw .zyw_left{  float: left;  width: 70%;  margin-right:30px; }
.zyw .zyw_right{  float: left;  width: 50%;  }
.zyw .zyw_right .zywUl{  width:100%;  }
.zyw .zyw_right .zywUl li{font-size:12px; position: relative; width:33.33%;  float: left; margin: 5px 0 }
.zyw .zyw_right .zywUl li .liLeft{width:50%; float:left; color:#444; line-height:25px; font-weight: bold; text-align: right;}
.zyw .zyw_right .zywUl li .liRight{width:50%; float:left; color:#444;}
.zyw .zyw_right .zywUl li .liRight input[type='text']{height:25px; line-height:25px; width: 100%;}
.zyw .zyw_right .zywUl  li .liRight select{outline: none; width:100%; color:#444; height:25px; line-height:25px; }
.zyw .zyw_right .zywUl  li .liRight select:disabled{background-color: #EBEBE4!important; color:#777; border:none!important;}



.zyw .zyw_left .zywUl{  width:100%;  }
.zyw .zyw_left .zywUl li{font-size:12px; position: relative; width:33.33%;  float: left; line-height:25px; margin: 5px 0 }
.zyw .zyw_left .zywUl li .liLeft{width:40%; float:left; color:#444; line-height:25px; font-weight: bold; text-align: right;}
.zyw .zyw_left .zywUl li .liRight{width:60%; float:left; color:#444;}
.zyw .zyw_left .error{line-height:24px; margin-top:4px; height:24px; color:#D12E2E; font-weight: bold;}
.zyw .zyw_left .zywUl li .liRight input[type='text']{height:25px; line-height:25px; width: 100%;}
.zyw .zyw_left .zywUl  li .liRight select{outline: none; width:100%; color:#444; height:25px; line-height:25px; }
.zyw .zyw_left .zywUl  li .liRight select:disabled{background-color: #EBEBE4!important; color:#777; border:none!important;}
.zyw .zyw_left .zywUl li .liRight textarea{outline: none;  width:100%; height:30px; resize:vertical; box-sizing: border-box; margin:0 5px; }
.zyw .zyw_left .zywUl li .liRight textarea:disabled{background: #EBEBE4!important; color:#777;}
.zyw .zyw_left .zywUl  li .liRight label{display: inline-block; margin-right:30px; line-height: 30px;float: left}

.zyw .zyw_left .zywUl  li .liRight label input[type='checkbox']{width: 15px; height:15px; vertical-align: middle; margin-right:5px;}

/*****100*****/
.zyw .zyw_left .zywUl .allLi,.zyw .zyw_right .zywUl .allLi{font-size:12px; position: relative; width:100%;  float: left; line-height:25px; margin: 5px 0 }  /*  最宽Li  */
.zyw .zyw_left .zywUl .allLi .liLeft,.zyw .zyw_right .zywUl .allLi .liLeft{width:13.5%; float:left; color:#444; line-height:25px; font-weight: bold; text-align: right;}
.zyw .zyw_left .zywUl .allLi .liRight,.zyw .zyw_right .zywUl .allLi .liRight{width:86%; float:left; color:#444;}

/*****50*****/
.zyw .zyw_left .zywUl .Li50{font-size:12px; position: relative; width:50%;  float: left; line-height:25px; margin: 5px 0 }  /*  最宽Li  */
.zyw .zyw_left .zywUl .Li50 .liLeft{width:25%; float:left; color:#444; line-height:25px; font-weight: bold; text-align: right;}
.zyw .zyw_left .zywUl .Li50 .liRight{width:75%; float:left; color:#444;}




.zyw .zyw_left .zywUl .select2-selection__rendered,.zyw .zyw_right .zywUl .select2-selection__rendered{height:auto; overflow: visible; outline: none;padding:0 5px 5px 5px!important;}
.zyw .zyw_left .zywUl .select2-selection__rendered::after,.zyw .zyw_right .zywUl .select2-selection__rendered::after{clear: both; height:0; visibility: hidden; display: block; content:".";}
.zyw .zyw_left .zywUl .select2-selection__rendered li,.zyw .zyw_right .zywUl .select2-selection__rendered li{width: auto; margin-bottom:0; float:left;}
.zyw .zyw_left .zywUl .select2-container .select2-selection--single,.zyw .zyw_right .zywUl .select2-container .select2-selection--single{ height:25px;}
.zyw .zyw_left .zywUl .select2-container--default .select2-selection--single .select2-selection__rendered,.zyw .zyw_right .zywUl .select2-container--default .select2-selection--single .select2-selection__rendered{line-height: 23px}




