.icon1{  background:url("../pic/icons.png") no-repeat 0 0;  }
.icon2{  background:url("../pic/icons.png") no-repeat 0 -20px;  }
.icon3{  background:url("../pic/icons.png") no-repeat 0 -40px;  }
.icon4{  background:url("../pic/icons.png") no-repeat 0 -60px;  }
.icon5{  background:url("../pic/icons.png") no-repeat 0 -80px;  }
.icon6{  background:url("../pic/icons.png") no-repeat 0 -100px;  }
.icon7{  background:url("../pic/icons.png") no-repeat 0 -120px;  }
.icon8{  background:url("../pic/icons.png") no-repeat 0 -140px;  }
.icon9{  background:url("../pic/icons.png") no-repeat 0 -160px;  }
.icon10{  background:url("../pic/icons.png") no-repeat 0 -180px;  }
.icon11{  background:url("../pic/icons.png") no-repeat 0 -200px;  }
.icon12{  background:url("../pic/icons.png") no-repeat -20px -60px;  }
.icon13{  background:url("../pic/icons.png") no-repeat -20px -80px;  }
.icon14{  background:url("../pic/icons.png") no-repeat -20px -120px;  }
.icon15{  background:url("../pic/icons.png") no-repeat -20px -140px;  }
.icon16{  background:url("../pic/icons.png") no-repeat -20px -160px;  }
.icon17{  background:url("../pic/icons.png") no-repeat -20px -180px;  }
.icon18{  background:url("../pic/icons.png") no-repeat -20px -200px;  }
.icon19{  background:url("../pic/icons.png") no-repeat -20px -220px;  }
.icon20{  background:url("../pic/icons.png") no-repeat -40px 0;  }
.icon21{  background:url("../pic/icons.png") no-repeat -40px -20px;  }
.icon22{  background:url("../pic/icons.png") no-repeat -40px -40px;  }
.icon23{  background:url("../pic/icons.png") no-repeat -40px -60px;  }
.icon24{  background:url("../pic/icons.png") no-repeat -40px -80px;  }
.icon25{  background:url("../pic/icons.png") no-repeat -40px -100px;  }
