@charset "utf-8";
/* CSS Document */
body{background-size: cover; background-repeat: no-repeat; background-position:center center; background-image: url(../Pic/register_bg.jpg); background-color: #f5f5f5;}
#forget_body{padding:100px 40px;}
#forget_body .wrap a{display:block; margin:0 auto;}
#forget_body .wrap .logo{width:120px;}
#forget_body .wrap .logo img{width:100%;}
#forget_body .wrap select{-moz-appearance: none; -webkit-appearance:none; appearance:none; padding:0 10px; color:#444;  background:url(../Pic/down_icon.png) no-repeat right center;}
#forget_body .wrap .button{width:50%; margin:0 auto; position:relative; background:#176b86; height: 46px; color:#fff;}
#forget_body .wrap .button a{line-height:46px; color:#fff; transition: all 0.3s 0s;}
#forget_body .wrap .button a:hover{ background:#197594;}

#forget_body .wrap{width:800px; background:#FFF; padding:50px 40px 40px; position: relative;}
#forget_body .wrap .title{font-size:22px; text-align:center; color:#333; margin-top:20px;}
#forget_body .wrap .submit a{width:100%; text-align:center; line-height:46px; background:#176b86; color:#fff; border:1px solid #176b86;}
#forget_body .wrap .submit a:hover{cursor:pointer; background:#197594; color:#FFF;}
#forget_body .wrap .other{width:40%; margin:60px auto 0; text-align:center;}
#forget_body .wrap .other a{color:#999; display:inline;}
#forget_body .wrap .other a:hover{color:#176b86;}
#forget_body .wrap .other span{display:inline-block; margin:0 10px; color:#999;}
#forget_body .wrap .tips{color:#666; font-size: 12px;}
#forget_body .wrap li a{position:absolute; right:10px; top:50%; font-size: 12px; margin-top:-9px; z-index: 1000;}
#forget_body .wrap li a:hover{color:#176b86;}


#forget_foot{width:100%; position: absolute; bottom:40px; left:0;}
#forget_foot .wrap{width:1000px;}
#forget_foot .wrap .links{padding-bottom:10px; text-align:center;}
#forget_foot .wrap .links span{display:inline-block; margin:0 10px; color:#333;}
#forget_foot .wrap .links a{color:#333;}
#forget_foot .wrap .links a:hover{color:#176b86;}
#forget_foot .wrap h5{color:#333; text-align:center;}




@media only screen and (max-width: 900px){
    body{padding:0; background-image: none;}
    .tab_box{margin:20px auto; width: 80%;}
    .tab_box{width:100%;}
    #forget_body{padding:20px 0; background: #fff;}
    #forget_body .wrap{width:auto; padding:20px 10px;}
    #forget_body .wrap .logo{width:100px;}
    #forget_body .wrap .title{font-size:16px;}
    #forget_body .wrap .logo_bg{padding:0 0 20px 0;}
    #forget_body .wrap .button{width:100%;}
    #forget_body .wrap .submit{width:100%;}
    #forget_body .wrap .other{width:100%; margin:10px 0 0;}
    #forget_foot{background: #fff;}
    #forget_foot .wrap{width:100%;}

}